<div class="site-header">

  <div class="logo">
    <a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" height="55px"></a>
  </div>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-navicon fa-lg"></i>
      </a>

      <div class="trigger">
          <a class="page-link" href="{{ site.baseurl }}/">Home</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>


</div>
